{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'web/styles.css' %}">
    <meta charset="UTF-8">
    <title>Successful login – Letovo Lab Help</title>
</head>
<body>
    <div class="outer">
        <img src="{% static 'web/letovolablogo.png' %}" style="width: 200px; height: 77px;">
        <form action="/main">
            <input type="submit" class="toolbar" value="Main">
        </form>
        <form action="/about">
            <input type="submit" class="toolbar" value="About">
        </form>
    </div>
    <p class="header">Successful login</p>
    <form action="/main" style="display: inline">
        <div style="text-align: center">
            <input type="submit" value="Back to main">
        </div>
    </form>
</body>
</html>