{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'web/styles.css' %}">
    <link rel="icon" type="image/x-icon" href="{% static 'web/favicon.ico' %}">
    <meta charset="UTF-8">
    <title>Main page – Letovo Lab Help</title>
</head>
<body>
    <div class="outer">
        <img src="{% static 'web/letovolablogo.png' %}" style="width: 200px; height: 77px;">
        <form action="/main">
            <input type="submit" class="toolbar" value="Main">
        </form>
        <form action="/about">
            <input type="submit" class="toolbar" value="About">
        </form>
        <form action="/logout">
            <input type="submit" class="toolbar" value="Log out">
        </form>
    </div>

    <p class="header">Users to approve</p>
    {% if not app_person_list %}
        <hr>
        <p><i>Nothing here yet</i></p>
    {% endif %}
    {% for p in app_person_list %}
        <hr>
        <p>{{ p.first_name }} {{ p.last_name }}, {% if p.role == "student" %}Student
            {% elif p.role == "teacher" %}Teacher
            {% elif p.role == "safety" %}Safety inspector
            {% elif p.role == "director" %}Director
            {% elif p.role == "labassist" %}Lab assistant
            {% elif p.role == "inspector" %}IT inspector
            {% else %}???{% endif %}</p>
        <div class="outer">
            <form action="/form/{{ f.id }}">
                <input type="submit" value="View form" />
            <form action="/person-approved/{{ p.pk }}/">
                <input type="submit" value="Approve user" />
            </form>
            <form action="/person-deleted/{{ p.pk }}/">
                <input type="submit" value="Disapprove (delete) user" />
            </form>
        </div>
    {% endfor %}

    <p class="header">Users to change password</p>
    {% if not person_list %}
        <hr>
        <p><i>Nothing here yet</i></p>
    {% endif %}
    {% for p in person_list %}
        <hr>
        <p>{{ p.first_name }} {{ p.last_name }}, {% if p.role == "student" %}Student
            {% elif p.role == "teacher" %}Teacher
            {% elif p.role == "safety" %}Safety inspector
            {% elif p.role == "director" %}Director
            {% elif p.role == "labassist" %}Lab assistant
            {% elif p.role == "inspector" %}IT inspector
            {% else %}???{% endif %}</p>
        <form action="/password-changed/{{ p.pk }}/" method="post" style="padding: 0px 10px 0px 10px;">
            {% csrf_token %}
            <label for="newpass{{ p.pk }}">New password (from Letovo account):</label><br><br>
            <input type="text" id="newpass{{ p.pk }}" name="newpass{{ p.pk }}"><br><br>
            <input type="submit" value="Change password" />
        </form>
    {% endfor %}

    <p class="header">Change role of any user (in case of an error / emergency)</p>
    {% if not all_person_list %}
        <hr>
        <p><i>Nothing here yet (how'd you get this?!)</i></p>
    {% endif %}
    {% for p in all_person_list %}
        <hr>
        <p>{{ p.first_name }} {{ p.last_name }}, {% if p.role == "student" %}Student
            {% elif p.role == "teacher" %}Teacher
            {% elif p.role == "safety" %}Safety inspector
            {% elif p.role == "director" %}Director
            {% elif p.role == "labassist" %}Lab assistant
            {% elif p.role == "inspector" %}IT inspector
            {% else %}???{% endif %}</p>
            <form action="/role-changed/{{ p.pk }}/" method="post" style="padding: 0px 10px 0px 10px;">
                {% csrf_token %}
                <select name="newrole{{ p.pk }}" id="newrole{{ p.pk }}"><br><br>
                    <option value="student">Student</option>
                    <option value="teacher">Teacher</option>
                    <option value="labassist">Lab assistant</option>
                    <option value="safety">Safety inspector</option>
                    <option value="director">Lab director</option>
                    <option value="inspector">IT inspector</option>
                </select><br><br>
            <input type="submit" value="Change role" />
        </form>
    {% endfor %}

    <p class="header">Delete any form (in case of spam)</p>
    {% if not forms_list %}
        <hr>
        <p><i>Nothing here yet</i></p>
    {% endif %}
    {% for f in forms_list %}
        <hr>
        <p>{{ f.type }}, {{ f.person.first_name }} {{ f.person.last_name }}, {% if p.role == "student" %}Student
            {% elif p.role == "teacher" %}Teacher
            {% elif p.role == "safety" %}Safety inspector
            {% elif p.role == "director" %}Director
            {% elif p.role == "labassist" %}Lab assistant
            {% elif p.role == "inspector" %}IT inspector
            {% else %}???{% endif %}</p>
        <form action="/form-deleted/{{ f.id }}">
            <input type="submit" value="Delete form" />
        </form>
    {% endfor %}
</body>
</html>