{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'web/styles.css' %}">
    <meta charset="UTF-8">
    <title>Main Page – Letovo Lab Help</title>
</head>
<body>
    <div class="outer">
        <img src="{% static 'web/letovolablogo.png' %}" style="width: 200px; height: 77px;">
        <form action="/main">
            <input type="submit" class="toolbar" value="Main">
        </form>
        <form action="/about">
            <input type="submit" class="toolbar" value="About">
        </form>
    </div>

    <p class="header">You are not logged in yet</p>
    <div class="outer" style="width: 100%;">
        <form action="/login" style="width: 50%; display: inline; text-align: right;">
            <input type="submit" value="Log in">
        </form>
        <form action="/register" style="width: 50%; display: inline; text-align: left;">
            <input type="submit" value="Register">
        </form>
    </div>
</body>
</html>